/* .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); } */

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

:root {
  /* Primary card color*/
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  /* Neutral */
  /* paragrapgs */
  --white-transparent: hsla(0, 0%, 100%, 0.75);
  /* background, headings, buttons */
  --white-gray: hsl(0, 0%, 95%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(15px + 0.5vw);
  font-family: "Lexend Deca", sans-serif;
}

body {
  height: 100vh;
}

.card {
  align-items: flex-start;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  height: 55vh;
  justify-content: space-between;
  padding: 1rem 10%;
  width: 100%;
}

.card h2 {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
}

.card p {
  line-height: 1.5rem;
  width: 88%;
}

.card button {
  height: 15vw;
  width: 40vw;
  border-radius: 3rem;
  margin-bottom: 1rem;
  outline: none;
  border: none;
  box-shadow: 2px, 2px, 4px, 0.7;
}

.card:first-child {
  background-color: var(--bright-orange);
  border-radius: 0.5rem 0.5rem 0 0;
  border-radius: 0.5rem 0.5rem 0 0;
}

.card:first-child button {
  color: var(--bright-orange);
}

.card:nth-child(2) {
  background-color: var(--dark-cyan);
}
.card:nth-child(2) button {
  color: var(--dark-cyan);
}

.card:last-of-type {
  background-color: var(--very-dark-cyan);
  border-radius: 0 0 0.5rem 0.5rem;
}

.card:last-of-type button {
  color: var(--very-dark-cyan);
}
